.symbols {
    -fx-background-color: #3b3b3b;
    -fx-text-fill: white;
}
.symbols:hover {
    -fx-background-color: #535353;
    -fx-text-fill: white;
}
.err {
    -fx-background-color: #2c2c2c;
        -fx-text-fill: #a2a2a2;
}
.numbers {
    -fx-background-color: #535353;
    -fx-text-fill: white;
}
.numbers:hover {
    -fx-background-color: #3b3b3b;
    -fx-text-fill: white;
}
#equals {
    -fx-background-color: #8b4726;
    -fx-text-fill: white;
}
#equals:hover {
    -fx-background-color: #783717;
    -fx-text-fill: white;
}
#root {
    -fx-background-color: #151515;
}
#screen {
    -fx-background-color: #3b3b3b;
    -fx-padding: 10;
}
#controls {
    -fx-background-color: #151515;
    -fx-padding: 10;
}